
  $body-bg: #ffffff;
  $body-color: #2a2a2a;
  $text-gray: #808080;
  $black: #000000;
  $dark: #333333;
  $main-pink: #f67599;
  $dark-gray: #4a4a4a;
  $secondary-gray: #999999;
  $light-gray: #afb1bd;
  $grayish: #f0f0f5;

