@import "src/assets/scss/abstracts/_colors";
@import "src/assets/scss/abstracts/_mixins";
@import "src/assets/scss/abstracts/_reset";

.payment {
  padding: 100px 15px 3rem 15px;
}

.payment-wrapper {
  width: 85%;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-flow: row wrap;
}
.checkout {
  width: 50%;
}
.cart {
  width: 50%;
  padding-left: 7.5%;
}
